* {
    box-sizing: border-box;
    margin: 0px;
}

.headerStyle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #003366;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

.headerStyle a {
    color: white;
    padding: 20px;
}

.headerStyle a:hover {
    color: cyan;
}

.headerStyle a nav{
    gap: 15px;
}

.logo {
    width: 120px;
    height: 30px;
}


